/* *{
    outline: 1px solid rgba(255,0,0,0.4);
}*/
/* HEADER */
.contenedor{
    width: 700px;
    margin: 0 auto;
}
header section{
    width: inherit;
}
.contenedor img{ 
    width: 700px;
    margin: 10px auto;
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
header li {
    display: inline-block;
    margin: 10px 0;
    border-right:1px solid black;
    padding: 5px 20px;
}
header li > a {
    display: block;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
header ul li:last-child{
    border-right: none;
}

/* Inicio */
#inicio img{
    width: 700px;
}
/* Sobre Nosotros */
#sobrenosotros hr{
    border: 3px solid grey;
    width: 10%;
    margin: 10px auto;
}
#sobrenosotros h1{
    text-align: center;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
}
/* Nuestras Coders */
#nuestrascoders h3{
    text-align: left;
}
 #nuestrascoders hr {
    border:2px solid black;
    width: 10%;
}
#nuestrascoders > #contenedor{
    margin: 0 auto;
}
#nuestrascoders .cuadrado{
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}
#nuestrascoders img{
    width: 200px;
    height: 200px;
}
#nuestrascoders p{
    font-family: Cursive;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}
#nuestrascoders .cuadrado > div{
    position: absolute;
    top: 10px;
    width: 200px;
    height: 200px;
    background-color: black;
    opacity: 0.5;
}
#nuestrascoders .cuadrado > div:hover{
    opacity: 0;
}
/* Contacto */
#coder-detail section{
    border: 3px solid grey;
    margin-top: 10px;
    padding: 20px;
}
#coder-detail section img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#contacto h2{
    text-align: left;
}
#contacto ul{
    list-style-type: none;
    text-align: left;
}
#contacto li{
    color: white;
    background: grey;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
}
#contacto li:nth-child(1){
    width: 75%;
}
#contacto li:nth-child(2){
    width: 50%;
}
#contacto li:nth-child(3){
    width: 25%;
}
#contacto > #contenedor{
    margin: 0 auto;
}
#contacto div .cuadrado{
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}
#contacto .cuadrado img{
    width: 150px;
    height: 150px;
    border-radius: 0%;
}
#pie{
    clear:both;
    text-align:center;
    padding:5px; 
}